@model PropertyManagementApp.DTO.RegisterDTO

@if (TempData["WarningMessage"] != null)
{
    <div class="alert alert-warning">
        @TempData["WarningMessage"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@{
    ViewData["Title"] = "Register";
}

<div class="form-container">
    <h2 class="form-title">Create an Account</h2>
    <form asp-action="Register" method="post">
        @Html.AntiForgeryToken()

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="MobileNumber">Mobile Number</label>
            <input asp-for="MobileNumber" class="form-control" />
            <span asp-validation-for="MobileNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-group form-check">
            <input asp-for="IsAdmin" type="checkbox" class="form-check-input" id="IsAdmin" />
            <label class="form-check-label" for="IsAdmin">Admin</label>
        </div>

        <div class="form-group button-group">
            <button type="submit" class="btn-submit">Register</button>
            <button type="button" class="btn-clear" onclick="window.location.href='@Url.Action("Register", "Account")'">Clear</button>
        </div>
    </form>

    <p class="form-footer">
        Already have an account? <a asp-action="Login">Login here</a>
    </p>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
